# Cisco ISE Core Configurations
ISE_HOST=isenode.domain.com
ISE_USER=username
ISE_PASSWORD=password
ISE_USAGE=Admin, EAP Authentication

# Optional Threshold Overrides
ISE_WARNING=30
ISE_CRITICAL=15
ISE_SSL_VERIFY=false